BETTER_AUTH_SECRET="ODiDH4PwSD2KxDoVu7jVfkxooICq5m1P"   # Do NOT use this secret in production!!! Use https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_URL="http://localhost:5173"                 # Update this to be your base URL. Keep it the same for development.


# Database configuration. These have been split into seperate variables to comply with how you have to auth into Digital Ocean managed databases.
DB_CA_CERT=""
DB_SSL=true
DB_HOST=""
DB_PORT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
