DATABASE_URL="postgres://postgres:db_password@localhost:5432/postgres"
BETTER_AUTH_SECRET="ODiDH4PwSD2KxDoVu7jVfkxooICq5m1P"   # Do NOT use this secret in production!!! Use https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_URL="http://localhost:5173"                 # Update this to be your base URL. Keep it the same for development.